<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HeavenNails.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="HeavenNails.Properties.Settings.HeavenNailsConnectionString"
      connectionString="Data Source=;Initial Catalog=;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <HeavenNails.Properties.Settings>
      <setting name="RecieptPrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="DocumentsPrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="Server" serializeAs="String">
        <value>QUYIT-WORKINGST\SQLEXPRESS</value>
      </setting>
      <setting name="AccountLOG" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>HeavenNails</value>
      </setting>
      <setting name="MainScannerPort" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="SecondScannerPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ThirdScannerPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BoudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="DataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Parity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="StopBits" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="ReceiptPrinterSetting" serializeAs="String">
        <value />
      </setting>
      <setting name="ReceiptPrinterFooter" serializeAs="String">
        <value />
      </setting>
      <setting name="ReceiptPrinterDetails" serializeAs="String">
        <value />
      </setting>
      <setting name="LogoShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogoLeftToRight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LogoTopBottom" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LogoSizeX" serializeAs="String">
        <value>88</value>
      </setting>
      <setting name="BarCodeType" serializeAs="String">
        <value />
      </setting>
      <setting name="BarCodeSizeX" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="BarCodeLeftToRight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BarCodeTopAndBottom" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LogoSizeY" serializeAs="String">
        <value>88</value>
      </setting>
      <setting name="BarCodeSizeY" serializeAs="String">
        <value>150</value>
      </setting>
    </HeavenNails.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
